<p id="notice"><%= notice %></p>

<p>
  <strong>Num date:</strong>
  <%= @event.num_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location status:</strong>
  <%= @event.location_status %>
</p>

<p>
  <strong>History:</strong>
  <%= @event.history %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
